.big-banner{
    background-image: url('../images/background.jpg');
    background-size: 100%;
    background-position: center;
}

.fresh-content{
    background: linear-gradient(-45deg,#FDC661,#977821);
}

.no-mp{
	margin: 0px;
	padding: 0px;
}

.mid{
    text-anchor: middle !important;
}

.l{
	text-align: left !important;
}

.r{
	text-align: right !important;
}